.container1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.container2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}


.left-pane {
  flex-grow: 1;
  margin: 3px;
}

.right-pane {
  /* background-color: black; */
  flex-grow: 4;
  margin: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

app-line-chart{
  display: flex;
  height: fit-content;
  width: fit-content;
  flex-grow: 1;
}

app-questions-list {
  flex-grow: 2;
}