<div class="container1" *ngIf="upload">
    <app-file-upload></app-file-upload>
</div>

<div class="container2" *ngIf="dashboard">
    <div class="left-pane">
        <mat-card>

            <mat-card-header>

            </mat-card-header>

            <mat-card-content>
                <app-choose-model (selectedModel)="onModelSelected($event)"></app-choose-model>
            </mat-card-content>

            <mat-card-actions align="end">
                <button color="primary" mat-raised-button (click)="onSubmit()">Submit</button>
            </mat-card-actions>
        </mat-card>
        
    </div>
    
    <div class="right-pane">
        <!-- <app-results></app-results> -->
        <app-line-chart #line_chart [title]="'test'"></app-line-chart>
        <app-questions-list *ngIf="ifShowChart"></app-questions-list>
    </div>

</div>